<!DOCTYPE html>
<html th:replace="~{layoutFile :: layout(${pageTitle}, ~{::section})}">

<section>
    <style>
        img {
            width: 400px;
            height: 400px;
        }
    </style>
    <p>Welcome to about page</p>
    <hr/>

    <div th:replace="~{fragments/_post::showPost('naimsulejmani','A osht normal VINICIUS! Ballon De ORO','2024-10-23', '/images/1.jpg')}">

    </div>
    <hr/>
    <div th:replace="~{fragments/_post::showPost('olti','Edhe Barca valla hiq keq sja len','2024-10-24',null)}">

    </div>
</section>

</html>