<!DOCTYPE html>
<html th:replace="~{layoutFile :: layout(${pageTitle}, ~{::section})}">

<section>
    <p>Welcome to Players Page</p>
    <hr/>
    <form action="/players" method="get">
        <label for="search">Search:</label>
        <input type="search" id="search"
               name="search"
               placeholder="Search by name"
               th:value="${search}"
        />

        <!--        <input type="text" name="test" placeholder="Test Input"/>-->
        <button type="submit">Search</button>

        <th:inline th:if="${search!=null && !search.isBlank()}">
            <a th:href="@{/players}"
               style="border: 1px solid black; border-radius: 3px; background-color: yellow">
                Clear Filters</a>
            <span>Search Text: <b th:text="${search}"></b></span>
        </th:inline>

    </form>

    <hr/>
    <p th:unless="${players.size()>0}">No players found</p>

    <table border="1" th:if="${players.size()>0}">
        <tr>
            <th>Player ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Age</th>
            <th>Country</th>
            <th>Action</th>
        </tr>
        <tr th:each="player, iter : ${players}" th:object="${player}" th:style="${iter.even ? 'color:red':''}">
            <td th:text="*{id}"></td>
            <td th:text="*{name}"></td>
            <td th:text="*{surname}"></td>
            <td th:text="*{position}"></td>
            <td th:text="*{age}"></td>
            <td th:text="*{country}"></td>
            <td>
                <a th:href="@{/players/{id}(id=*{id})}">View</a>
                <a th:href="@{/players/{id}/edit(id=*{id})}">Edit</a>
            </td>
        </tr>
    </table>


</section>

</html>

